<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="full">
        <h1 class="loginTitle">Member Login</h1>
    <form action="/index" method="post">
    <div class="mail-section">
       
            <div class="form">
               <label class="mailLabel">mail:    </label>
                <input style="font-size:18px;" type="email" name="mail"  required>
            </div>
   </div>
    <div class="password-section">
      
            <div class="form">
                <label class="milLabel" >password:</label>
                <input style="font-size:18px;" type="password" name="password" required>
            </div>
   
    </div>
    <div class="btn">
        <button class="button" type="submit">login</button>
    </div>
    </form>
    <!-- <hr style="height: 10px;" > -->
    <div class="register">
        <a href="/register">Create a new account</a>
    </div>
    </div>
    
</body>
</html>