<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div class="full">
        <h1 class="registerTitle">Welcome,you can register here!</h1>
    <form action="/register" method="post">
        <div>

            <div >
                <label>Username: </label>
                <input class="user" style="font-size:18px;" name="userName" type="text" required>
            </div>
      </div>
        <div  class="mail-section">

            <div class="form">
                <label class="rMail" >mail: </label>
                <input style="font-size:18px;" name="mail" type="email" required>
            </div>
     </div>
        <div class="password-section">

            <div class="form">
                <label class="rPassword">password:</label>
                <input style="font-size:18px;" name="password" type="password" required>
            </div>
      </div>
        <div class="rBtn">
            <!-- <a href="/"><button type="submit">register</button></a> -->
            <button class="button" type="submit" name="button" >Register</button>
        </div>
    </form>
    <!-- <hr style="height: 10px;" >
    <div class="register">
        <a href="">REGISTER</a>
    </div> -->

    </div>
    
</body>

</html>